#idForm{
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 10px 100px;
    
    
}
#greeting{
    display: flex;
    justify-content: center
}
#divGames{
    display: flex;
    justify-content:space-around;
    margin: 0% 5% 0% 5%;
}
#idcart{
    margin: 0% 20% 0% 20%
}

#nameForm, #surnameForm{
    width: 200px;

}
h1.title{
    flex: 1 1 auto;
    letter-spacing: 10px
}

